@font-face {
	font-family: Cantarell;
	src: url(/css/Cantarell-Regular.otf);
}

body {
	font-family: Cantarell;
}

ul {
	list-style-type: none;
}

thead {
	font-weight: bold;
}

@media (max-width: 671px) {
	#login_username, #login_psw {
	width: 120px;
	}
	#login_signup {
	display: block;
	margin-top: 5px;
	color: #045fb4 !important;
	}
	body {
	background-size: 100vw auto;
	}
}

@media (max-width: 600px) {
		#loginbox_form {
	display: none;
	}
	#loginbox_link {
	display: inline !important;
	}
}

#loginbox {
text-align: right;
position: absolute;
top: 0;
right: 2px;
padding: 3px;
}

#login_submit {
margin-top: 2px;
}

#loginbox_link {
display: none;
position: relative;
top: 35px;
}

.rk {font-weight: bold;}
.rk2 {cursor: help;}
.rk2r {
clip-path: inset(100%);
clip: rect(1px 1px 1px 1px); /* IE 6/7 */
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap; /* added line */
width: 1px;
}
.rk_a, .rk_h {color: #045fb4;}
.rk_m {color: #ff8000;}
.rk_0, .rk_1 {color: #008000;}
.rk_i {color: black;}
.rk_b {color: #808080;}

.ta {
	width: 100%;
	height: 6em;
}